.sidebar{
    border-right: 1px solid var(--twitter-background);
    flex:  0.3; 
    /* Use 30% of the screen */
    /* min-width:250px; */
    margin-top: 20px;
    margin-left: 20px;
    /* margin-right: 20px; */
    
}
.sidebar--twitterIcon{
    color: var(--twitter-color);
    font-size: 30px !important; 
}
.sidebar--tweet
{
    background-color: var(--twitter-color) !important;
    /* important kyu? matrial Ui ne css likha hai button ka already but hume yueh changes chahiye]
    compulsory so yeh important use karengfe to yeh changes aayenge for sure, as we are overriding the css
    of material ui, we use important */
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}